body {
    background-color: rosybrown;
    font-family: Arial, sans-serif;
}
p {
    margin-top: 5px;
    margin-bottom: 5px;
}
a {
    text-decoration: none;
}
.business-card {
    background-color: white;
    border: 3px solid darkslategray;
    width: 300px;
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
}
.profile-image {
    max-width: 100%;
}
.full-name {
    color: darkslategray;
    font-size: 25px;
}
.designation {
    font-size: 18px;
    color: gray;
}
.company {
    font-size: 16px;
    color: darkgray;
}
img {
    width: 200px;
    border: 2px solid gainsboro;
}
.social-media a {
    margin: 10px;
    color: maroon;
}